/* some style */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
}

div#top {
  padding-left: 1rem;
  background-color: #F70713;
  height 20px;
  width 100%;
}

#form-left {
	padding-left: 1rem;
}
